﻿<header class="full-header">
    <div id="top-bar" class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 hidden-xs">
                    <ul class="list-inline top-contact">
                        <li>
                            <p>
                                Phone:
                                <span>+ 2 0106 5371234</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                Email:
                                <span>demo@metlife.com</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- .col-md-6 end -->
                <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                    <ul class="list-inline top-widget">
                        <li class="top-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a class="button-quote" href="get-a-quote.html" id="hmodelquote">Get A Quote</a>
                        </li>
                    </ul>
                </div>
                <!-- .col-md-6 end -->
            </div>
        </div>
    </div>
    <nav id="primary-menu" class="navbar style-1">
        <div class="row">
            <div class="container mobile-heading">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="Index">
                        <img src="~/Content/images/logo/logo.png" alt="Yellow Hats">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="Index">Home</a>
                        </li>

                        <!-- li end -->
                        <li>
                            <a href="About">about</a>
                        </li>
                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Insurance</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="get-a-quote.html">Get a quote <span class="new">New</span></a>
                                </li>
                                <li>
                                    <a href="InsuranceAll">Insurance All</a>
                                </li>
                                <li>
                                    <a href="InsuranceSingle">Insurance Single</a>
                                </li>
                                <li>
                                    <a href="MakeAClaim">Make A Claim</a>
                                </li>
                            </ul>
                        </li>
                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages</a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="404_error.html">Page 404</a>
                                </li>
                                <li>
                                    <a href="coming_soon.html">Coming Soon</a>
                                </li>
                                <li>
                                    <a href="testimonials_all_col.html">testimonials</a>
                                </li>
                                <li>
                                    <a href="faqs_right_sidebar.html">FAQS</a>
                                </li>
                                <li>
                                    <a href="pricing_tables_v1.html">Pricing Tables 1</a>
                                </li>
                                <li>
                                    <a href="pricing_tables_v2.html">Pricing Tables 2</a>
                                </li>
                                <li>
                                    <a href="contact_v1.html">Contact page 1</a>
                                </li>
                                <li>
                                    <a href="contact_v2.html">Contact page 2</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>

                            </ul>
                        </li>
                        <!-- li end -->

                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Blog</a>
                            <ul class="dropdown-menu">

                                <li><a href="blog_standard_left_sidebar.html"> Left Sidebar</a></li>
                                <li><a href="blog_standard_right_sidebar.html">Right Sidebar</a></li>
                                <li><a href="blog_single_left_sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog_single_right_sidebar.html">Single Right Sidebar</a></li>
                            </ul>
                        </li>
                        <!-- li end -->
                        <!-- li end -->
                        <li class="has-dropdown pull-left margin-right-zero">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">contact</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="contact_v1.html">Contact page 1</a>
                                </li>
                                <li>
                                    <a href="contact_v2.html">Contact page 2</a>
                                </li>
                            </ul>
                        </li>
                        <!-- li end -->
                    </ul>


                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
</header>
