﻿<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"><![endif]-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/images/favicon.png">
    <title>MetLife - HTML Template for insurance</title>
    <link rel="stylesheet" href="~/Content/css/icon/et-line-font.css">
    <!-- reset CSS -->
    <link href="~/Content/css/reset.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- icon CSS -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/Stroke-Gap-Icons.css" rel="stylesheet">
    <!-- Themify icons -->
    <link href="~/Content/css/themify-icons/themify-icons.css" rel="stylesheet">

    <link href="~/Content/css/hover.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Revelation Slider -->
    <link href="~/Content/rs-plugin/css/rev-settings.css" rel="stylesheet">
    <link href="~/Content/rs-plugin/css/settings.css" rel="stylesheet">

    <!-- owl carousel CSS -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/owl.theme.css" rel="stylesheet">
    <!-- Main style CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Start Loading -->

    <section class="loading-overlay">
        <div class="Loading-Page">
            <h1 class="loader">Loading...</h1>
        </div>
    </section>

    <!-- End Loading  -->

    @RenderBody()
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/Content//bootstrap.min.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/Content/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/rs-plugin/js/revslider-custom.js"></script>

    <script type="text/javascript" src="~/Content/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox-media.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.inview.min.js"></script>

    <script type="text/javascript" src="~/Content/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Content/js/classie.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/js/wow.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/Content/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/Content/js/custom.js"></script>
</body>

</html>
