﻿
@{
    ViewBag.Title = "About";
}



    <div class="content-wrap">
        <div id="home" class="body-wrapper">

            <!--  Header  -->
            @Html.Partial("_Header")
            
            <!-- Start Pages Title  -->

            <section id="Page-title" class="Page-title-Style1">
                <div class="color-overlay"></div>
                <div class="container inner-img">
                    <div class="row">
                        <div class="Page-title">
                            <div class="col-md-12 text-center">
                                <div class="title-text">
                                    <h6>Who We Are</h6>
                                    <h2 class="page-title">About Us</h2>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="breadcrumb-trail breadcrumbs">
                                    <span class="trail-begin"><a href="#">Home</a></span>
                                    <span class="sep">/</span> <span class="trail-end">About 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Pages Title  -->
            <!-- Start welcome -->

            <section id="Welcome" class="light-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section text-left">
                                <p>Hello the MetLife!</p>
                                <h3>Welcome To MetLife</h3>
                            </div>
                            <div class="description-welcome text-left">
                                <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                    <div class="divcod55"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome_wrapper text-left">
                                <div class="number">01.</div>
                                <h5>The company</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome_wrapper text-left">
                                <div class="number">02.</div>
                                <h5>Our History</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome_wrapper text-left">
                                <div class="number">03.</div>
                                <h5>Our Mission</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome_wrapper text-left">
                                <div class="number">04.</div>
                                <h5>Our Values</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Our Welcome -->
            <!-- Start Our Projects -->

            <section id="Projects" class="whitesmoke-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section text-left">
                                <p>GREAT WORKS</p>
                                <h3>INSURANCE COVERAGE</h3>
                            </div>
                            <div class="description-welcome text-left">
                                <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                            </div>
                        </div>
                    </div>
                    <div class="divcod55"></div>
                    <div class="row insurance-service-all">

                        <div class="col-md-12">
                            <div class="insurance-coverage">
                                <div class="insurance-service-content">
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Auto Insuracne</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Home Insurance</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Life Insurance</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Bike Insurance</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Boat Insurance</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Business Insurance</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-insurance">
                                        <div class="single-insurance-content">
                                            <span class="ti-check-box"></span>
                                            <h3><a href="insurance_single.html">Travel Insurance</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                            <div class="read-more">
                                                <a href="insurance_single.html">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Insurance coverage End Here -->
                    </div>
                </div>
            </section>

            <!-- End Our Projects -->
            <!-- Start Our Services -->

            <section id="Services" class="light-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section text-left">
                                <p>THE BEST</p>
                                <h3>OUR SERVICES</h3>
                            </div>
                            <div class="description-welcome text-left">
                                <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                            </div>
                        </div>
                    </div>
                    <div class="divcod55"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome-Block text-center">
                                <div class="Top-welcome">
                                    <i class="icon icon-House"></i>
                                    <h4>Find A Mortgage</h4>
                                </div>
                                <div class="hover-welcome">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    <a class="btn" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome-Block text-center">
                                <div class="Top-welcome">
                                    <i class="icon icon-House"></i>
                                    <h4>Find A Home Service</h4>
                                </div>
                                <div class="hover-welcome">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    <a class="btn" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome-Block text-center">
                                <div class="Top-welcome">
                                    <i class="icon icon-House"></i>
                                    <h4>Find Insurance</h4>
                                </div>
                                <div class="hover-welcome">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    <a class="btn" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
                            <div class="welcome-Block text-center">
                                <div class="Top-welcome">
                                    <i class="icon icon-ClipboardText"></i>
                                    <h4>Consulting</h4>
                                </div>
                                <div class="hover-welcome">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    <a class="btn" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="home-call-to-action">
                                <a class="btn btn-grey" href="#" title="Get A Quote">Get A Quote</a>
                                <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Our Services -->
            <!-- Start Our Testimonials -->

            <section id="Testimonials" class="whitesmoke-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section text-left">
                                <p>People Say</p>
                                <h3>Testimonials</h3>
                            </div>
                            <div class="description-welcome text-left">
                                <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                            </div>
                        </div>
                    </div>
                    <div class="divcod55"></div>
                    <div class="row">
                        <div id="Testimonials-3col" class="owl-carousel owl-theme">
                            <div class="item-testimonial">
                                <div class="quote-client">
                                    <p>Lorem ipsum dolor sit consctetur adipiscing elit. Se Integer lore quam, adipiscing in condimentum tristique vel, eleifend sed turpis.</p>
                                </div>
                                <!-- End quote-client -->
                                <div class="info-client">
                                    <div class="avata"><img src="~/Content/images/page/avatar-1.png" alt=""></div>
                                    <span class="client-name">John Doe</span>
                                    <span class="client-position">Manager, Alico Agency</span>
                                </div>
                                <!-- End info-client -->
                            </div>
                            <div class="item-testimonial">
                                <div class="quote-client">
                                    <p>Lorem ipsum dolor sit consctetur adipiscing elit. Se Integer lore quam, adipiscing in condimentum tristique vel, eleifend sed turpis.</p>
                                </div>
                                <!-- End quote-client -->
                                <div class="info-client">
                                    <div class="avata"><img src="~/Content/images/page/avatar-2.png" alt=""></div>
                                    <span class="client-name">Janifer Lopez</span>
                                    <span class="client-position">Agent, Alico Agency</span>
                                </div>
                                <!-- End info-client -->
                            </div>
                            <div class="item-testimonial">
                                <div class="quote-client">
                                    <p>Lorem ipsum dolor sit consctetur adipiscing elit. Se Integer lore quam, adipiscing in condimentum tristique vel, eleifend sed turpis.</p>
                                </div>
                                <!-- End quote-client -->
                                <div class="info-client">
                                    <div class="avata"><img src="~/Content/images/page/avatar-3.png" alt=""></div>
                                    <span class="client-name">Kareem Fahmey</span>
                                    <span class="client-position">Agent, Alico Agency</span>
                                </div>
                                <!-- End info-client -->
                            </div>
                            <div class="item-testimonial">
                                <div class="quote-client">
                                    <p>Lorem ipsum dolor sit consctetur adipiscing elit. Se Integer lore quam, adipiscing in condimentum tristique vel, eleifend sed turpis.</p>
                                </div>
                                <!-- End quote-client -->
                                <div class="info-client">
                                    <div class="avata"><img src="~/Content/images/page/avatar-4.png" alt=""></div>
                                    <span class="client-name">Ahmed Abd Alhaleem</span>
                                    <span class="client-position">Agent, Alico Agency</span>
                                </div>
                                <!-- End info-client -->
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- End Our Testimonials -->
            <!-- Start Our Clients -->

            <section id="Clients" class="light-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-section text-left">
                                <p>They Trust Us</p>
                                <h3>Insurance Partner</h3>
                            </div>
                            <div class="description-welcome text-left">
                                <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                            </div>
                        </div>
                    </div>
                    <div class="divcod55"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="Our-clients" class="owl-carousel owl-theme">
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-1.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-2.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-3.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-4.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-5.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-6.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-1.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-2.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-3.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-4.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-5.png" alt="customer" width="170" height="68"></a>
                                <a href="#" class="item-client"><img src="~/Content/images/customer/customer-6.png" alt="customer" width="170" height="68"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Our Clients  -->
            <!-- Footer -->
            @Html.Partial("_Footer")
            

        </div>

        <!-- Back to top Link -->
        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    </div>






