﻿@{
    ViewBag.Title = "Home";
}


    <div class="content-wrap">
        <div id="home" class="body-wrapper">

            <!-- Header  -->
            @Html.Partial("_Header")

            <!-- slider -->
            <div id="slider">
                <!-- revolution slider begin -->
                <div class="fullwidthbanner-container">
                    <div id="revolution-slider">
                        <ul>
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                                <!--  BACKGROUND IMAGE -->
                                <img src="~/Content/img-rev-slider/slider1.png" alt="">

                                <div class="tp-caption lft custom-font-2" data-x="center" data-y="184" data-speed="800" data-start="800" data-easing="easeInOutCubic">
                                    The Best Theme For Insurance Companies
                                </div>

                                <div class="tp-caption sfb custom-font-1" data-x="center" data-y="250" data-speed="800" data-start="1400" data-easing="easeInOutCubic">
                                    Say Hello To <span>MetLife !</span>
                                </div>

                                <div class="tp-caption sfb" data-x="center" data-y="380" data-speed="800" data-start="1600" data-easing="easeInOutCubic">
                                    <a class="btn btn-slider" href="#">Buy Theme</a>&nbsp;&nbsp;<a class="btn btn-border-slider" href="#">Get A Quote</a>
                                </div>
                            </li>

                            <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                                <!--  BACKGROUND IMAGE -->
                                <img src="~/Content/img-rev-slider/slider2.jpg" alt="">

                                <div class="tp-caption lft custom-font-2" data-x="center" data-y="184" data-speed="800" data-start="800" data-easing="easeInOutCubic">
                                    Hello, We Offer You The Best Theme
                                </div>

                                <div class="tp-caption sfb custom-font-1" data-x="center" data-y="250" data-speed="800" data-start="1400" data-easing="easeInOutCubic">
                                    Protecting You and your Family
                                </div>

                                <div class="tp-caption sfb" data-x="center" data-y="380" data-speed="800" data-start="1600" data-easing="easeInOutCubic">
                                    <a class="btn btn-slider" href="#">Buy Theme</a>&nbsp;&nbsp;<a class="btn btn-border-slider" href="#">Get A Quote</a>
                                </div>
                            </li>

                            <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                                <!--  BACKGROUND IMAGE -->
                                <img src="~/Content/img-rev-slider/slider3.png" alt="">

                                <div class="tp-caption lft custom-font-2" data-x="center" data-y="184" data-speed="800" data-start="800" data-easing="easeInOutCubic">
                                    Hello, We Offer You The Best Theme
                                </div>

                                <div class="tp-caption sfb custom-font-1" data-x="center" data-y="250" data-speed="800" data-start="1400" data-easing="easeInOutCubic">
                                    Friendly Staff <span>MetLife !</span>
                                </div>

                                <div class="tp-caption sfb" data-x="center" data-y="380" data-speed="800" data-start="1600" data-easing="easeInOutCubic">
                                    <a class="btn btn-slider" href="#">Buy Theme</a>&nbsp;&nbsp;<a class="btn btn-border-slider" href="#">Get A Quote</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- revolution slider close -->
            </div>
            <!-- slider close -->

            <main>
                <!-- Start Our Services -->
                <!-- ======= Welcome section ======= -->
                <section class="main-service-content">
                    <div class="container inner">
                        <div class="row main-service-heading">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                <h2 class="headline">We offer <br>Insurance Services</h2>
                                <div class="sologun-icon"><span class="ti-announcement"></span></div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel interdum tellus. Suspendisse leo libero, sollicitudin a commodo vel, facilisis vitae diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!-- End Row -->
                        <div class="row welcome main-service">
                            <div class="col-lg-6 col-md-12">
                                <div class="main-service-box">
                                    <img src="~/Content/images/service/mortgage-1.png" alt="images">
                                    <div class="main-service-description">
                                        <h3>Find A Mortgage</h3>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
                                    </div>
                                </div>
                                <div class="main-service-box main-service-box_bottom">
                                    <img src="~/Content/images/service/home-insurance-1.png" alt="images">
                                    <div class="main-service-description">
                                        <h3>Find Insurance</h3>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 bottom_row">
                                <div class="main-service-box">
                                    <img src="~/Content/images/service/home-service-1.png" alt="images">
                                    <div class="main-service-description">
                                        <h3>Find A Home Service</h3>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
                                    </div>
                                </div>
                                <div class="main-service-box main-service-box_bottom">
                                    <img src="~/Content/images/service/consulting-1.png" alt="images">
                                    <div class="main-service-description">
                                        <h3>Consulting</h3>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- End container -->
                </section>
                <!-- End main-service-content -->
                <!-- ======= /Welcome section ======= -->
                <!-- End Our Services -->
                <!-- Start Our Projects -->

                <section id="Projects" class="whitesmoke-wrapper">
                    <div class="container inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-section text-left">
                                    <p>WE'VE GOT YOU COVERED</p>
                                    <h3>Insurance Coverage</h3>

                                </div>
                                <div class="description-welcome text-left">
                                    <p>Insurance coverage around your needs is easier than you think. Sometimes on purpose injected humour and the like simple dummy.</p>

                                </div>
                            </div>
                        </div>
                        <div class="divcod55"></div>
                        <div class="row insurance-service-all">

                            <div class="col-md-12">
                                <div class="insurance-coverage">
                                    <div class="insurance-service-content">
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Auto Insuracne</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Home Insurance</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Life Insurance</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Bike Insurance</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Boat Insurance</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Business Insurance</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-insurance">
                                            <div class="single-insurance-content">
                                                <span class="ti-check-box"></span>
                                                <h3><a href="insurance_single.html">Travel Insurance</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laborum ipsa, a voluptates libero possimus sapiente.</p>
                                                <div class="read-more">
                                                    <a href="insurance_single.html">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Insurance coverage End Here -->
                        </div>
                    </div>

                </section>

                <!-- End Our Projects -->
                <!-- Start Our Why Us -->

                <section id="Why_Us" class="light-wrapper">
                    <div class="container inner">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-section text-left">
                                    <p>AWESOME FEATURES</p>
                                    <h3>WHY METLIFE !</h3>
                                </div>
                                <div class="divcod40"></div>
                                <!-- Shortcode #5
                                    ===================================== -->
                                <div id="shortcode-5" class="shortcode-5 pb-50">

                                    <!-- .row end -->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="panel-group accordion accordions-style1" id="accordion02" role="tablist" aria-multiselectable="true">

                                                <!-- Panel 01 -->
                                                <div class="panel panel-default section-content">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-1" aria-expanded="true" aria-controls="collapse02-1"> Trusted Since 1982 </a>
                                                            <span class="icon"></span>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse02-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <div class="tap-inner" style="display: block;">
                                                                <img src="~/Content/images/home_img.jpg" alt="portfolio" width="250" height="182">
                                                                <p>Duis dapibus aliquam mi, eget euismod scelerisque ut. Vivamus at elit quis urna adipiscing , Curabitur vitae velit in neque dictum blansadit. Duis dapibus aliquam mi, eget euismod sceler ut.Duis dapibus aliquam mi, eget euismod scelseerisque.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Panel 02 -->
                                                <div class="panel panel-default section-content">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-2" aria-expanded="false" aria-controls="collapse02-2"> 100M Users Never Wrong </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse02-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="panel-body">
                                                            <div class="tap-inner" style="display: block;">
                                                                <img src="~/Content/images/home_img.jpg" alt="portfolio" width="250" height="182">
                                                                <p>Duis dapibus aliquam mi, eget euismod scelerisque ut. Vivamus at elit quis urna adipiscing , Curabitur vitae velit in neque dictum blansadit. Duis dapibus aliquam mi, eget euismod sceler ut.Duis dapibus aliquam mi, eget euismod scelseerisque.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Panel 03 -->
                                                <div class="panel panel-default section-content">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-3" aria-expanded="false" aria-controls="collapse02-3"> Secure and Stable </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse02-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            <div class="tap-inner" style="display: block;">
                                                                <img src="~/Content/images/home_img.jpg" alt="portfolio" width="250" height="182">
                                                                <p>Duis dapibus aliquam mi, eget euismod scelerisque ut. Vivamus at elit quis urna adipiscing , Curabitur vitae velit in neque dictum blansadit. Duis dapibus aliquam mi, eget euismod sceler ut.Duis dapibus aliquam mi, eget euismod scelseerisque.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Panel 04 -->
                                                <div class="panel panel-default section-content">
                                                    <div class="panel-heading" role="tab" id="headingFour">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion02" href="#collapse02-4" aria-expanded="false" aria-controls="collapse02-4"> 24/7 With Real Person </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse02-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            <div class="tap-inner" style="display: block;">
                                                                <img src="~/Content/images/home_img.jpg" alt="portfolio" width="250" height="182">
                                                                <p>Duis dapibus aliquam mi, eget euismod scelerisque ut. Vivamus at elit quis urna adipiscing , Curabitur vitae velit in neque dictum blansadit. Duis dapibus aliquam mi, eget euismod sceler ut.Duis dapibus aliquam mi, eget euismod scelseerisque.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- End .Accordion-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 get-quote-section">
                                <div class="title-section text-left">
                                    <p>IN THE NEWS</p>
                                    <h3>GET A QUOTE</h3>
                                </div>
                                <div class="divcod40"></div>
                                <div class="get-quote-form">

                                    <form class="leave-comment contact-form" autocomplete="on" id="contact-form" name="contact-form" method="post" action="php/send.php">
                                        <fieldset>
                                            <div id="formstatus"></div>
                                            <div class="Contact-us">
                                                <div class="form-input col-md-12">
                                                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                                                </div>
                                                <div class="form-input col-md-12">
                                                    <input type="email" id="email" name="email" placeholder="Email" required>
                                                </div>
                                                <div class="form-input col-md-12">
                                                    <input type="text" id="subject" name="subject" placeholder="Subject">
                                                </div>
                                                <div class="form-input col-md-12">
                                                    <textarea class="txt-box textArea" id="message" name="message" cols="40" rows="7" placeholder="Message" spellcheck="true" required></textarea>
                                                </div>
                                                <div class="form-submit col-md-12">
                                                    <input type="submit" id="submit" class="btn common-btn" value="Send Message">
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- End Our Why Us -->
                <!-- Start Our Testimonials -->

                <section id="Testimonials" class="whitesmoke-wrapper">
                    <div class="container inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-section text-left">
                                    <p>About us</p>
                                    <h3>Meet our insurance agency</h3>
                                </div>
                                <div class="description-welcome text-left">
                                    <p>MetLife is a insurace theme. Perfectly suited for insurance company, Find the Perfect Home Loan, Mortgage, Home Service.</p>

                                </div>
                            </div>
                        </div>
                        <div class="divcod55"></div>
                        <!-- Start Out Team Area V-3 -->
                        <div class="row">
                            <div class="team-item col-xs-12 col-sm-6 col-md-3">
                                <div class="team-item-block">
                                    <div class="team-thumb">
                                        <img src="~/Content/images/team/ps-8.jpg" alt="Mahmoud ADel Baghagho">
                                        <div class="team-overlay">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            <div class="team-icons">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-team">
                                        <h5>Mahmoud ADel Baghagho</h5>
                                        <p class="team-company">Company Founder</p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item col-xs-12 col-sm-6 col-md-3">
                                <div class="team-item-block">
                                    <div class="team-thumb">
                                        <img src="~/Content/images/team/ps-5.jpg" alt="Katie Willmore">
                                        <div class="team-overlay">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            <div class="team-icons">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-team">
                                        <h5>Katie Willmore</h5>
                                        <p class="team-company">Agent</p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item col-xs-12 col-sm-6 col-md-3">
                                <div class="team-item-block">
                                    <div class="team-thumb">
                                        <img src="~/Content/images/team/ps-6.jpg" alt="Angelica Watson">
                                        <div class="team-overlay">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            <div class="team-icons">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-team">
                                        <h5>Angelica Watson</h5>
                                        <p class="team-company">Agent</p>
                                    </div>
                                </div>
                            </div>
                            <div class="team-item col-xs-12 col-sm-6 col-md-3">
                                <div class="team-item-block">
                                    <div class="team-thumb">
                                        <img src="~/Content/images/team/ps-7.jpg" alt="Aeni Doe">
                                        <div class="team-overlay">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                            <div class="team-icons">
                                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                                <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-team">
                                        <h5>Aeni Doe</h5>
                                        <p class="team-company">Agent</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Out Team Area V-3 -->

                    </div>
                </section>

                <!-- End Our Testimonials -->
                <!-- Start Our Vision -->

                <section id="happy-customers" class="light-wrapper">
                    <div class="container inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-section text-left">
                                    <p>OUR VISION</p>
                                    <h3>Best insurances for everyone</h3>
                                </div>
                                <div class="description-welcome text-left">
                                    <p>MetLife is a global provider of Life insurance, annuities, employee benefits and assets management. MetLife has operations in nearly 50 countries serving approximately 100 million coustomers. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                                </div>
                            </div>
                        </div>
                        <div class="divcod55"></div>




                        <div class="row">

                            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                <span class="icon-mobile el-icon3x"></span>
                                <div class="fact">
                                    <div class="fact-number timer" data-perc="987">
                                        <span class="factor color-primary"></span>
                                    </div>
                                    <span class="fact-title">Satisfied Customers</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                <span class="icon-desktop el-icon3x"></span>
                                <div class="fact">
                                    <div class="fact-number timer" data-perc="5">
                                        <span class="factor color-success"></span>
                                    </div>
                                    <span class="fact-title">professional agents</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                <span class="icon-wallet el-icon3x"></span>
                                <div class="fact">
                                    <div class="fact-number timer" data-perc="10">
                                        <span class="factor color-warning"></span>
                                    </div>
                                    <span class="fact-title">insurances in our offer</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                <span class="icon-briefcase el-icon3x"></span>
                                <div class="fact">
                                    <div class="fact-number timer" data-perc="15">
                                        <span class="factor color-danger"></span>
                                    </div>
                                    <span class="fact-title">years of experience</span>
                                </div>
                            </div>

                        </div>


                    </div>
                </section>

                <!-- End Our Vision  -->
            </main>

            <!--Footer -->
            @Html.Partial("_Footer")



        </div>

        <!-- Back to top Link -->
        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>

    </div>

    <script type="text/javascript">
        $(function () {
            "use strict";
            $(".fact-number").appear(function () {
                var t = $(this).attr("data-perc");
                $(this).each(function () {
                    $(this).find(".factor").delay(6e3).countTo({
                        from: 10,
                        to: t,
                        speed: 3e3,
                        refreshInterval: 50
                    })
                })
            })
        })
    </script>




