﻿
@{
    ViewBag.Title = "InsuranceSingle";
}

    <div class="content-wrap">
        <div id="home" class="body-wrapper">

            <!-- Header  -->
            @Html.Partial("_Header")
            <!-- Start Pages Title  -->

            <section id="Page-title" class="Page-title-Style2">
                <div class="color-overlay"></div>
                <div class="container inner-img">
                    <div class="row">
                        <div class="Page-title">
                            <div class="col-md-12 text-center">
                                <div class="title-text">
                                    <h6>Great Service</h6>
                                    <h2 class="page-title">Single Insurance Name</h2>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="breadcrumb-trail breadcrumbs">
                                    <span class="trail-begin"><a href="#">Home</a></span>
                                    <span class="sep">/</span> <span class="trail-end">Single Project</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Pages Title  -->
            <!-- Start Projects -->

            <section id="portfolio-post" class="light-wrapper">
                <div class="container inner">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="Top-Title-Page">
                                <h3>House Protection Description :</h3>
                            </div>
                            <div class="content-page">
                                <p>
                                    Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet. Etiam commodo fusce in diam feugiat, nullam suscipit tortor per velit viverra minim sed metus egestas sapien consectetuer, ac etiam bibendum cras posuere pede placerat, velit neque felis. Turpis ut mollis, elit et New Office Room mattis integer aenean nulla, in vitae id augue vitae. Lacus eu nulla ante lorem, viverra pretium ipsum etiam, platea nec purus malesuada id leo, aliquam metus, ac velit viverra. Imperdiet mauris viverra maecenas, tortor enim aliquam at nec. Pellentesque penatibus, sed rutrum viverra quisque pede, mauris commodo sodales enim porttitor. Magna convallis mi mollis, neque nostra mi vel volutpat lacinia, vitae blandit est, bibendum vel ut. Congue ultricies, libero velit amet magna erat. Orci in, eleifend venenatis lacus tincidunt nisl malesuada tristique, cum egestas vel ac dapibus euismod suspendisse.
                                    <br>
                                    <br> Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet. Etiam commodo fusce in diam feugiat, nullam suscipit tortor per! Orci in, eleifend venenatis lacus tincidunt nisl malesuada tristique, cum egestas vel ac dapibus euismod suspendisse. Lorem ipsum dolor sit amet, mauris suspendisse viverra eleifend tortor tellus suscipit, tortor aliquet at nulla mus, dignissim neque, nulla neque. Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="content-single-page">
                                <div class="Top-Title-Page">
                                    <h3>House Protection Details :</h3>
                                </div>
                                <div class="Data-Post">
                                    <ul>
                                        <li>
                                            <p>Amount of Payment:: <span>From $20000 to $30000</span></p>
                                        </li>
                                        <li>
                                            <p>Risk Level: <span>Level2</span></p>
                                        </li>
                                        <li>
                                            <p>Location: <span>USA</span></p>
                                        </li>
                                        <li>
                                            <p>Number of people:<span>Max 8</span></p>
                                        </li>
                                        <li>
                                            <p>Support: <span>24h/7days</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="divcod10"></div>
                            <div class="content-single-page">
                                <div class="Top-Title-Page">
                                    <h3>Share Project :</h3>
                                </div>
                                <div class="social-content">
                                    <a class="post-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="post-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="post-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="Navigation-page">
                                <a class="Previous" href="#"><i class="fa fa-angle-left"></i><p>Previous</p></a>
                                <a class="next" href="#"><i class="fa fa-angle-right"></i><p>Next</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Projects -->
            <!-- Start Call To Action -->

            <div id="call_to_action" class="color-wrapper parallax">
                <div class="container inner-parallax">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="parallax-call-to-action color-call">
                                <a class="btn btn-grey" href="#" title="Get A Quote">Get A Quote</a>
                                <p>MetLife is a insurace theme. Perfectly suited for insurance company, Find the Perfect Home Loan, Mortgage, Home Service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Call To Action -->
            <!-- Footer -->
            @Html.Partial("_Footer")
            <!-- End Footer  -->

        </div>

        <!-- Back to top Link -->
        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    </div>



