﻿
@{
    ViewBag.Title = "InsuranceAll";
}

    <div class="content-wrap">
        <div id="home" class="body-wrapper">

            <!-- Header  -->
            @Html.Partial("_Header")
            <!-- Start Pages Title  -->

            <section id="Page-title" class="Page-title-Style2">
                <div class="color-overlay"></div>
                <div class="container inner-img">
                    <div class="row">
                        <div class="Page-title">
                            <div class="col-md-12 text-center">
                                <div class="title-text">
                                    <h6>Great Works</h6>
                                    <h2 class="page-title">Our Insurance</h2>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="breadcrumb-trail breadcrumbs">
                                    <span class="trail-begin"><a href="#">Home</a></span>
                                    <span class="sep">/</span> <span class="trail-end">Projects</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Pages Title  -->
            <!-- Start Our Projects -->

            <section id="Projects" class="light-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="gry-bg">
                            <ul id="filters">
                                <li class="active-link"><a href="#" class=" filter" data-filter="*">All</a></li>
                                <li><a href="#" class=" filter" data-filter="f1">Life Insurance</a></li>
                                <li><a href="#" class=" filter" data-filter="f2">Home Insurance</a></li>
                                <li><a href="#" class=" filter" data-filter="f3">Auto Insurance</a></li>
                                <li><a href="#" class=" filter" data-filter="f4">Bike Insurance</a></li>
                                <li><a href="#" class=" filter" data-filter="f5">Boat Insurance</a></li>
                                <li><a href="#" class=" filter" data-filter="f6">Pet Insurance</a></li>
                            </ul>
                        </div>
                        <div class="divcod30"></div>
                        <div class="portfolio-items">
                            <div id="Projects-Col">
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f1">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/auto-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Auto Insuracne</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Auto Insuracne</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/auto-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f2">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/home-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Home Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Home Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/home-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f3">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/life-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Life Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Life Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/life-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f4">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/bike-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Bike Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Bike Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/bike-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f5">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/boat-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Boat Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Boat Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/boat-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f6">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/business-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Business Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Business Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/business-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f2">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/pet-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Pet Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Pet Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/pet-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f6">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/travel-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Travel Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Travel Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/travel-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f1">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/auto-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Auto Insuracne</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Auto Insuracne</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/auto-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f5">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/home-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Home Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Home Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/home-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f4">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/life-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Life Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Life Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/life-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f3">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/other-insurance-v1.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Other Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Other Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/other-insurance-v1.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f6">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/auto-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Auto Insuracne</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Auto Insuracne</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/auto-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f5">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/home-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Home Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Home Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/home-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f4">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/life-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Life Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Life Insurance</h2>
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="~/Content/images/product/life-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item col-xs-12 col-sm-6 col-md-3" data-filter="f3">
                                    <div class="projectItem">
                                        <img src="~/Content/images/product/boat-insurance.jpg" alt="portfolio" width="370" height="370">
                                        <div class="projectItem-hover">
                                            <div class="projectItem-co">
                                                <div class="Top-ProjectItem">
                                                    <p><a href="#">Boat Insurance</a>,<a href="#">Branding</a></p>
                                                </div>
                                                <div class="line-grid"></div>
                                                <div class="Bootom-ProjectItem">
                                                    <h2>Boat Insurance</h2>~/Content/
                                                    <a class="portfolio-zoom fancybox-effects-b hvr-icon-pop btn" href="images/product/boat-insurance.jpg">View</a>
                                                    <a class="btn" href="insurance_single.html">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divcod30"></div>
                    <div class="row">
                        <div class="pagination col-md-12">
                            <div class="pagination-style1 text-center">
                                <span class="active">1</span>
                                <span>2</span>
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Our Projects -->
            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>

        <!-- Back to top Link -->
        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    </div>





