﻿
@{
    ViewBag.Title = "MakeAClaim";
}


    <div class="content-wrap">
        <div id="home" class="body-wrapper">

            <!-- Start Header  -->
            @Html.Partial("_Header")
            <!-- Start Pages Title  -->

            <section id="Page-title" class="Page-title-Style2">
                <div class="color-overlay"></div>
                <div class="container inner-img">
                    <div class="row">
                        <div class="Page-title">
                            <div class="col-md-12 text-center">
                                <div class="title-text">
                                    <h6>Great Service</h6>
                                    <h2 class="page-title">Make a Claim</h2>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="breadcrumb-trail breadcrumbs">
                                    <span class="trail-begin"><a href="#">Home</a></span>
                                    <span class="sep">/</span> <span class="trail-end">Make A Claim</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End Pages Title  -->
            <!-- Start Projects -->

            <section id="portfolio-post" class="light-wrapper">
                <div class="container inner">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="Top-Title-Page">
                                <h3>MAKE A CLAIM :</h3>
                            </div>
                            <div class="content-page">
                                <p>
                                    We understand that making a claim can be distressing at a time when you have a lot on your mind. So we’ve tried to make the process as straightforward as possible with this step-by-step guide.
                                    <br>
                                    <br>1. Notify us about any claim you’re making within 10 calendar days from the date that the incident occurred. You can write, fax, call or send us an e-mail mentioning the date and cause of incidence along with your present contact address.
                                </p>
                                <br>
                                <p class="text-left">Claims Department<br> MetLife&nbsp;<br> Metlife Building, 3453 corn street, <br>Sanford, FL 34232.<br> USA</p>
                                <p class="text-left"><strong>Call us</strong> at : +1235 2355 34</p>
                                <p class="text-left"><strong>Fax us</strong> at : 880-2-1239789</p>
                                <p class="text-left"><strong>Send us an e-mail </strong> at: info@contact.com</p>
                                <br />
                                <br />

                                <div class="Top-Title-SideBar">
                                    <p><strong>If the claim is due to:</strong></p>
                                </div>

                                <p>
                                    2. Send all the documents related to your claim to us within 30 calendar days from the date of occurance.

                                    Select the claim type below to find which documents are required to support or help you with your claim.
                                </p>

                                <br />
                                <div class="panel-group faq-group" id="accordion">

                                    <!--Start Collapse-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="num">1</span> Individual Natural Death Claim</a> </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
                                        </div>
                                    </div>
                                    <!--Start Collapse-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="num">2</span> Individual Accidental Death Claim </a><span class="label bg-green">important!</span> </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
                                        </div>
                                    </div>
                                    <!--Start Collapse-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="num">3</span> Group Natural Death Claim</a> </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
                                        </div>
                                    </div>
                                    <!--Start Collapse-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4"><span class="num">4</span> Credit Life Claims (Credit Cardholder / Loan Borrower)</a> </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
                                        </div>
                                    </div>
                                    <!--Start Collapse-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5"><span class="num">5</span> Credit Permanent Total Disability (PTD) Claims</a> </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                            <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet. </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <!-- End Projects -->
            <!-- Start Call To Action -->

            <div id="call_to_action" class="color-wrapper parallax">
                <div class="container inner-parallax">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="parallax-call-to-action color-call">
                                <a class="btn btn-grey" href="#" title="Get A Quote">Get A Quote</a>
                                <p>MetLife is a insurace theme. Perfectly suited for insurance company, Find the Perfect Home Loan, Mortgage, Home Service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Call To Action -->
            <!-- Start Footer -->
            @Html.Partial("_Footer")

        </div>

        <!-- Back to top Link -->
        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    </div>


   




